input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
}

input[type=number] {
    -moz-appearance:textfield;
}

.input-group {
  margin-top: 4px;
  margin-bottom: 4px;
}

.btn {
  margin-left: 1px;
  margin-right: 1px;
}

#calculate, #reset, #copy {
  margin: 4px;
}

#root {
  max-width: 300px;
  margin: 12px; 
}