input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
}

input[type=number] {
    -moz-appearance:textfield;
}

.input-group {
  margin: 4px;
}

#calculate, #reset {
  margin: 4px;
}

#root {
  max-width: 300px;
  margin: 12px; 
}